<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.builddream.mapper.UserMapper">

    <select id="getUserLoginSuccessDefaultPermissionUrl" parameterType = "String" resultType= "String">
       select permission_url from role_permissions rp ,`user` u where rp.permission_id = u.defaultPermissionId and u.name = #{userName};
    </select>

    <select id="getUerPermissionUrls" parameterType = "String" resultType="String">
       select rp.permission_url from role_permissions rp ,
                `user` u ,roles r ,user_role ur
                where u.id = ur.user_id and ur.role_id = r.role_id
                and rp.role_id = r.role_id and u.name = #{userName};
    </select>

    <select id="getUserRoles" parameterType = "String" resultType="String">
       select r.role_name from  roles r ,user_role ur ,`user` u
            where u.name = #{userName}
            and u.id = ur.user_id
            and ur.role_id = r.role_id ;
    </select>

    <select id="setDefaultSuccessUrl" parameterType="java.util.Map">
        update user set defaultPermissionId = ${permissionId} where name = #{userName};
    </select>


</mapper>